html {
    margin: 0;
    left: 0;
    top: 0;
}

.main-logo {
    margin-left: 20px;
    max-height: 70px;
}

.top-menu {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    max-height: 100px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.075);
    position: fixed;
    z-index:100000;
}

/* .top-nav:after {
    opacity:.7
} */

a {
    color: rgba(0, 0, 0, 0.842);
}

li { 
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Avenir-Light';
    margin-top: 1.7%;
    font-size: 14pt;
    /* padding: 0; */
    float: right;
    padding-right: 50px;
    padding-left: 25px;
    z-index: 100;
    text-decoration: none;

} 

li:hover, a:hover {
    color: #1E90FF;
    text-decoration: none;
}

.hero-pic {
    max-width: 100%;
    opacity: .8;
    position: absolute;
    /* margin-top:-7%; */
    z-index: -100000;
}

.hood-pic {
    max-height: 675px;
    max-width: 100%;
    opacity: .35;
    overflow: hidden;
}

.hero-text {
    float: left;
    margin-top: 32%;
    font-family: 'Avenir';
    font-size: 100pt;
    text-shadow: 1px 1px 2px black;
    box-shadow: 10px 0 0 #1E90FF, -10px 0 0 #1E90FF;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 84pt;
    opacity: .95;
}

.card-title {
    color: #fff;
    font-size: 32pt;
}

.card {
    float: left;
    /* margin-top: 10%; */
    /* margin-left: 2%; */
    left: 25%;
    width: 50%;
    opacity: .99;
    font-family:'Avenir';
    border-radius: 10px;
    background-color: #000;
}

.card-text, .form-group {
    color: #fff;
}

.description {
    clear: both;
    font-family: 'Avenir-Medium';
    /* margin-left: 10%; */
    margin-bottom: 0;
    /* top: 35%; */
    background-color:#1E90FF;
    z-index: -100000;
    align-content: center;
    padding-bottom:0;
    /* position: static; */
}

.description h1 {
    line-height: 48pt;
    font-size: 48pt;
    color: rgba(255, 255, 255, 0.877);
    padding-top: 5%;
    padding-bottom: 10%;
    z-index: 100000;
}

.hood {
    width: 25%;
    margin-right: 30%;
    float:right;
    opacity: .95;
}

.hood-left {
    width: 27%;
    padding-bottom: 25px;
    float:right;
    opacity: .95;
}

.how-it-works {
    background-color:#fff;
    margin-top: 0;
    margin-bottom:0;
    font-family: 'Avenir-Black';
    color: rgba(14, 162, 236, 0.747);
}

.display-2 {
    margin-left: 50px;
    margin-bottom: 30px;
}

.step-number {
    color: rgba(0, 0, 0, 0.808);
    padding-top: 20px;
}

.steps {
    font-family: 'Avenir';
}

.dummy {
    background-color: #B3DDF2;
    border-radius: 20px 0 0 20px; 
}

.right-container {
    float:right;
    max-width: 65%;
    margin-top: 5%;
}

.left-container {
    float: left;
    clear: both;
    margin-left: 8%;
    margin-top: 4%;
}

.hood-left {
    float:left;
    margin-left: -20%;
    padding-right: 10px;
}

.sn-right {
    color: #fff;
}

.mailing-list {
    margin-top: 10%;
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
    float: left;
    clear: both;
    background-color: #000;
    opacity: .88;
}

.footer {
    margin: 0;
    height: 100px;
    width: 100%;
    float: left;
    clear: both;
}

.footer-text {
    margin-left: 5%;
    font-family: 'Avenir-Light';
}