html {
    margin: 0;
    left: 0;
    top: 0;
}

body {
    background-color: #FFFEFC;
}

.main-logo {
    margin-left: 20px;
    max-height: 70px;
}

.top-menu {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* TOP NAV AREA OF THE HOME PAGE */
.top-nav {
    width: 100%;
    background-color: rgb(255, 254, 252);
    max-height: 100px;
    padding-top:10px;
    padding-bottom:5px;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.075);
    position: fixed;
    z-index: 10;
}

/* TOP NAV AREA OF THE TEAM PAGE */
.top-nav-team {
    width: 100%;
    background-color: #FFFEFC;
    max-height: 100px;
    padding-top:10px;
    padding-bottom:5px;
    position: fixed;
    z-index: 10;
}

.team-svg {
    position: fixed;
    opacity: .3;
    z-index: -1;
}

.blog-svg {
    position: fixed;
    opacity: .9;
}

.contact-svg {
    width: 101%;
    position: fixed;
    opacity: .8;
    margin-left: 0;
    margin-top: 6%;
    min-height: 100%;
}

.team-container h1 {
    position: relative;
    z-index: 10;
}

a {
    color: rgba(0, 0, 0, 0.842);
}

#team-highlight {
    font-family: 'Avenir-Medium';
    color: #fff;
}

li { 
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Avenir-Light';
    margin-top: 1.4%;
    font-size: 14pt;
    float: right;
    padding-right: 50px;
    z-index: 100;
    text-decoration: none;
} 

li:hover, a:hover {
    color: #1E90FF;
    text-decoration: none;
}

/* TOP NAV ITEMS ON PAGES WITH  */
.blue-top-li:hover {
    /* color: #fff; */
}

/* LARGE IMAGE ON MAIN PAGE */
.hero-pic {
    max-width: 100%;
    opacity: .8;
    position: absolute;
    /* margin-top:-7%; */
    z-index: -100000;
}

.hood-pic {
    max-height: 675px;
    max-width: 100%;
    opacity: .35;
    overflow: hidden;
}

.hero-text {
    float: left;
    margin-top: 32%;
    font-family: 'Avenir';
    font-size: 100pt;
    text-shadow: 1px 1px 2px black;
    box-shadow: 10px 0 0 #1E90FF, -10px 0 0 #1E90FF;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 84pt;
    opacity: .95;
}

.card-title {
    color: #fff;
    font-size: 32pt;
}

.card {
    float: left;
    left: 25%;
    width: 50%;
    opacity: .99;
    font-family:'Avenir';
    border-radius: 10px;
    background-color: #000;
}

.contact-card {
    background-color: #FFFEFC;
    margin-top: -10%;
}

.card-text, .form-group {
    color: #fff;
}

.card-text-contact {
    color: rgba(0, 0, 0, 0.76);
}

/* DESCRIPTION OF PRODUCT ON MAIN PAGE, 
RIGHT AFTER HERO IMAGE */
.description {
    clear: both;
    font-family: 'Avenir-Medium';
    margin-bottom: 0;
    background-color:#1E90FF;
    z-index: -100000;
    align-content: center;
    padding-bottom:0;
}

.team-header {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    font-family: 'Avenir-Medium';
    background-color:#1E90FF;
    z-index: -100000;
    padding-bottom:0;
}

.team-header-white {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    font-family: 'Avenir-Medium';
    background-color:rgba(255, 254, 252, 0);
    position: relative;
    z-index: 12;
    padding-bottom:0;
}

.blog-header-white {
    margin-top: 5%;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    font-family: 'Avenir-Medium';
    background-color:rgba(255, 254, 252, 0);
    position: relative;
    z-index: 12;
    padding-bottom:0;
}

.contact-header-white {
    margin-top: 5%;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    font-family: 'Avenir';
    font-size: 16pt;
    background-color:rgba(255, 254, 252, 0);
    position: fixed;
    z-index: 12;
    padding-bottom:0;
    text-align: center;
    vertical-align: middle;
}

.menu-items-blog {
    position: relative;
    z-index: 100;
    display: inline-block;
    float: right;
    margin-top: 1%;
}

.logo-blog {
    position: relative;
    z-index: 100;
    display: inline-block;
    float: left;
}

.team-header h1 {
    font-family: 'Avenir';
    font-size: 64pt;
    color: rgb(221, 238, 247);
    padding: 0;
    margin-top: 10%;
    text-align: center;
    vertical-align: middle;
}

.team-header-white h1 {
    font-family: 'Avenir';
    font-size: 64pt;
    color:rgba(0, 0, 0, 0.747);
    padding: 0;
    margin-top: 10%;
    text-align: center;
    vertical-align: middle;
}

.blog-header-white h1 {
    font-family: 'Avenir';
    font-size: 48pt;
    color:rgba(0, 0, 0, 0.747);
    padding: 0;
    margin-top: 10%;
    text-align: center;
    vertical-align: middle;
}

.description h1 { 
    line-height: 48pt;
    font-size: 48pt;
    color: rgba(255, 255, 255, 0.877);
    padding-top: 5%;
    padding-bottom: 10%;
    z-index: 100000;
}

.team-text {
    padding-top: 30px;
    font-family: 'Avenir';
    text-align: center;
    vertical-align: middle;
}

.team-subheader {
    font-family: 'Avenir';
    font-size: 16pt;
    color: rgba(0, 0, 0, 0.747);
    text-align: justify;
    vertical-align: middle;
    padding-top: 30px;
}

.blog-subheader {
    font-family: 'Avenir';
    font-size: 24pt;
    color: #1E90FF;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}

.team-values {
    width: 75%;
    background-color: rgba(255, 254, 252, 0);
    vertical-align: middle;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.team-text-container {
    margin: auto;
    width: 75%;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.blog-text-container {
    margin: auto;
    width: 75%;
    vertical-align: middle;
}

.left-team-value {
    height: 100%;
    width: 30%;
    background-color: rgba(255, 254, 252, 0);
    position: relative;
    z-index: 100000;
    display:inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
}

.willis-tower {
    max-height: 120px;
}

.middle-team-value {
    height: 100%;
    width: 30%;
    background-color: rgba(255, 254, 252, 0);
    position: relative;
    z-index: 100000;
    display:inline-block;
    margin-left: 3%;
    border-right: 1px solid rgba(0, 0, 0, 0.048);
}

.right-team-value {
    height: 100%;
    width: 30%;
    background-color: rgba(255, 254, 252, 0);
    position: relative;
    z-index: 100000;
    display:inline-block;
    vertical-align: top;
    margin-left: 3%;
}

.values-header {
    padding-top: 5px;
    font-family: 'Avenir';
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.801);
}

.values-text {
    font-family: 'Avenir';
    text-align: center;
    text-align: left;
    vertical-align: middle;
    font-size: 12pt;
    color: rgba(0, 0, 0, 0.801);
}

.hood {
    width: 25%;
    margin-right: 30%;
    float:right;
    opacity: .95;
}

.hood-left {
    width: 27%;
    padding-bottom: 25px;
    float:right;
    opacity: .95;
}

.how-it-works {
    background-color:#FFFEFC;
    margin-top: -100px;
    margin-bottom:0;
    font-family: 'Avenir-Black';
    color: rgba(14, 162, 236, 0.747);
}

.display-2 {
    margin-left: 50px;
    margin-bottom: 30px;
}

.step-number {
    color: rgba(0, 0, 0, 0.808);
    padding-top: 20px;
}

.steps {
    font-family: 'Avenir';
}

.dummy {
    background-color: #B3DDF2;
    border-radius: 20px 0 0 20px; 
}

.right-container {
    float:right;
    max-width: 65%;
    margin-top: 5%;
}

.left-container {
    float: left;
    clear: both;
    margin-left: 8%;
    margin-top: 4%;
}

.hood-left {
    float:left;
    margin-left: -20%;
    padding-right: 10px;
}

.sn-right {
    color: #fff;
}

.mailing-list {
    margin-top: 10%;
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
    float: left;
    clear: both;
    background-color: #000;
    opacity: .88;
}

.contact-list {
    margin-top: 10%;
    margin-bottom: 0;
    padding-top: 0;
    width: 100%;
    float: left;
    clear: both;
    background-color: rgba(255, 254, 252, 0);
    border-radius: 20px;
}

.contact-card {
    /* border: 1px solid rgba(0, 0, 0, 0.849); */
    border: none;
    background-color: rgba(255, 254, 252, 0);
    /* border-radius: 20px; */
    margin-top: -12%;
}

.btn {
    width: 100%;
}

.contact-message {
    font-family: 'Avenir';
    color: rgba(0, 0, 0, 0.808);
}

.footer {
    margin: 0;
    height: 100px;
    width: 100%;
    float: left;
    clear: both;
}

.footer-contact {
    /* margin: 0; */
    /* height: 10%; */
    width: 100%;
    float: right;
    clear: both;
    background-color: rgba(30, 143, 255, 0.89);
}

.footer-text {
    margin-left: 5%;
    font-family: 'Avenir-Light';
}